@font-face {
    font-family: 'FKS_freeflow-Regular', sans-serif;
    src: url('./fonts/FKS_freeflow-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

#freeflow_generator {
  font-feature-settings: "ccmp" off, "calt" on,"liga" on;
}