@font-face {
  font-family: 'FKS';
  src: url('../fonts/FKS_freeflow-Regular.ttf') format('truetype');
       /* url('./fonts/FKS_freeflow-Regular.woff') format('woff'); */
}

/* 
#freeflow_generator {
  font-feature-settings: "ccmp" off, "calt" on,"liga" on;
} */